.about {
    margin-top: 50px;
    opacity: 30%;
}

.cent {
    position: absolute; 
    left: 50%; 
    margin-top: 100px;
    margin-bottom: 30px;
    transform: translateX(-50%);
}
.contact {
    font-size: 50px;
    line-height: 1.3;
    font-weight: 900;
    text-transform: uppercase;
    color: white;
    opacity: .8;

}
.clr {
    clear: both;
}

.home {
    opacity: 30%;
}
.home ul {
    list-style: none;
} 
.home li {
    float: left;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
}
.home a {

    font-size: 24px;
    color: brown;
}
.home h3 {
    margin-top: 3px; 
    font-size: 24px;
    color: white;
}

.content h4 {
        font-size: 30px;
        line-height: 1.3;
        font-weight: 600;
        /* text-transform: uppercase; */
        color: #fff;
        opacity: .8;
}
