.headerImage 
{
    background-image:url("/images/Tesla_X.jpg");
}

 .main-block{
    padding-top: 70px;
}  

.descr{
    margin-top: 20px; 
}

.car-img{
    padding: 0px;

}

.side{
    padding: 2em;
    margin-bottom: 3em;
    background-color: black;
    width:100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.side h3{
    font-size: 20px;
    margin-top: 0em;
    font-weight: bold;
    color: white;
}
.side ul {
    list-style-type: none;
    padding: 0em;
    margin-bottom: 40px;
  }
  .side ul li{
      
      font-size: 17px;
  }
.side ul li span:first-child { 
    color: grey;
}
.side ul li span:nth-child(2) { 
    color: white;
}
.side p{
    margin-top: 1em;
    font-size: 17px;
    color: grey;
}
.side img{
    width: 100%;
}
.btn-buy{
    border-radius: 1em;
    font-size: 20px;
    font-weight: bold;
}



.descr p {
    font-family: "Poppins", Arial, sans-serif;
    line-height: 1.5;
    font-weight: 300;
    font-size: 17px;
    color: gray;
    margin-bottom: 3em;
}
.descr h3{
    font-weight: 300;
}
.carsinfo-check-list{
    color: grey;

}
.carsinfo-check-list ul{
    list-style-type: none;
    padding: 0em;
}
.carsinfo-check-list ul li i{
    float: left;
    margin-right: 10px;
    color: rgb(63, 63, 63);
    
}
.carsinfo-check-list ul li h3{
    margin:0;
    padding-top:10px; 
    
}
.carsinfo-check-list ul li{
margin-bottom: 40px;
}
