
#center span small
{
    font-size: 10px;
}
.text-center
{
    text-align: center;

}
.inform
{
    margin-bottom: 30px;
    position: relative;
    background: #f2f3f7;
    padding: 20px;
    z-index: 0;
}
#center span
{
    background: linear-gradient(45deg, #DC2F2F 0%, #9870FC 100%);
    display: block;
    border-top-left-radius : 30px;
    border-top-right-radius : 30px;
    height: 75px;
    width: 75px;
    padding-top: 3%;
    font-size: 16px;
    color: white;
    font-weight: bold;
}
#center h3
{
    margin-bottom: 20px;
}

.row-header
{

    background-color: rgba(245, 245, 245, 0.2);
    height: 100px ;
    width: 100%;
    background-repeat: repeat-x;
    position: absolute;
    z-index: 0;
    box-shadow: 1px 5px 5px;
} 
.small_image:hover
{
    background-size: 120%;
    transition: all 1s;
}
.small_image
{
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    padding-top: 10px;
    padding-left: 20px;
    color: white;
    transition: all 1s;

}
.fa-gradient {
	background: -webkit-gradient(linear, left top, left bottom, from(#DC2F2F), to(#9870FC));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
button
{
    size:100%;
    transition: all 1s;
}
button:hover
{
    size:90%;
    transition: all 1s;
}
.Size_Up
{
    font-size: 5em;
    transition: all 1s;
}
.footerimg
{
    height: 250px;
    background-image:url("/images/header.jpg");
    background-position: 50%;
    -moz-background-inline-policy:"0.5";
    position: relative;
}
.footer
{
    height: 300px;
}
.Size_Up:hover
{
    font-size: 6em;
    transition: all 1s;
}

.small_image h3
{
    font-weight: bold;
}
h1 {
    font-family: "fa-solid-900";
    font-weight: bold;
    font-size: 4em;
    text-shadow: -1px -1px #000,
                 0 1px 0 #444;
    color: rgba(245, 245, 245, 0.8);
   
    }

  

.inform h3
{
    font-family: 'Anton', sans-serif;
    color: #000; 
    line-height: 1.5;
}
h2
{
    font-family: 'Anton', sans-serif;
    color: #000;
    margin: 0 0 20px 0;
    line-height: 1.5;
}
.mini-menu
{
    background-color: aliceblue;
}
.inform_center, .inform_center row
{
    margin-top: 100px;
}



.headerImage 
{
    

    background-size: cover;

    background-image:url("/images/header.jpg");
    background-repeat: no-repeat;
    height:700px;
}
#center
{
    margin-top: -80px;
}
@media (max-width:1400px)
{
    .headerImage
    {
        height: 400px;
    }
}
@media (max-width:768px)
{
    .headerImage
    {
        height: 350px;
    }
}
@media (max-width:100px)
{
    .headerImage
    {
        height: 50px;
    }
}